li.grid_masonry_view, li.inline_view {
  display: none;   
}

.block_likes {
  display: none;
}

.ico_socialize_pinterest, .ico_socialize_google2 {
  display: none;
}

#twitter {
  display: none;
}

.left_img {
  display: none;
}
